<a href="https://colab.research.google.com/github/medrandacode/IntroductionPython3/blob/main/IntroductionPythonIII.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Nivel Principiante Parte 3**

## **Tipos de datos**

**Mutables e Inmutables**

Inmutables: Datos o Objetos que no pueden cambiar.

Números, cadena de texto, tuplas

In [ ]:
CadenaEjemplo= 'Hola x'
cadenaEjemplo[0]='C'
cadenaEjemplo

**String str Cadenas de textos**

In [ ]:
dir(str)
#help(str.upper)

In [ ]:
x='MEDRANDACODE'
x.lower()

'medrandacode'

**Tuplas** <br>
(25,12,2020,'navidad')

In [ ]:
a=10
b=5
c=6
d=a,b,c
d[0]

10

In [ ]:
valor=('Hola','mundo')
valor

('Hola', 'mundo')

In [ ]:
def devuelvefecha():
  return 25,12,2020
z=devuelvefecha()
z[2]

2020

In [ ]:
t='Hola Mundo'
c=tuple(t)
c

('H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o')

In [ ]:
c[8:]

('d', 'o')

Crea una tupla con los meses del año, pide números al usuario, si el numero esta entre 1 y la longitud máxima de la tupla, muestra el contenido de esa posición sino muestra un mensaje de error.

El programa termina cuando el usuario introduce un cero.

In [ ]:
meses=('Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio', 'Agosto','Septiembre','Octubre','Noviembre','Diciembre')
salida=False
while not salida:
  numero=int(input('Ingrese número, Salir ingrese (0): '))
  if numero==0:
    salida=True
    print('Ejecución terminada')
  else:
    if numero>=1 and numero<= len(meses):
      print(meses[numero-1])
    else:
      print('Sobrepasa el rango de la tupla Rango: 1 - ', len(meses))

Ingrese número, Salir ingrese (0): 1
Enero
Ingrese número, Salir ingrese (0): 12
Diciembre
Ingrese número, Salir ingrese (0): 13
Sobrepasa el rango de la tupla Rango: 1 -  12
Ingrese número, Salir ingrese (0): 0
Ejecución terminada

**Ejercicio** <br>
Crea una tupla con números, pide un numero por teclado e indica cuantas veces se repite.

Mutables: Datos o Objetos que pueden cambiar.

Listas, Diccionarios

**Lista *list***

In [ ]:
help(list)
numero=[] #lista vacia
numero2=[1,2,3,4] #lista de números
caracteres=['Medranda','Code']#Lista de caracteres 
variado=[10, 'Messi', 'FC Barcelona']# Lista Variada

In [ ]:
#Imprimir lista
X=['a','e','i',5,6]
len(X)#Devuelve la longitud de nuestra lista

#help(list) # Indentificar la lista
X.append(7)#Agrega valorea
X[0]='u'#Cambiar valores
X.remove('i')
X.insert(5,'Hola')#Inserta valores a nuestra lista 
X

['u', 'e', 5, 6, 7, 'Hola']

In [ ]:
lista1=[3,4,5,1]
lista2=lista1[:]
lista1.sort()#Ordenar la lista
lista2

[3, 4, 5, 1]

Ejercicio <br>
Dado una lista, hacer un programa que indique si está ordenada o no.

In [ ]:
def ordenar(listaN):
  listaNueva=listaN[:]
  listaN.sort()
  if listaN== listaNueva:
    return 'Lista Ordenada'
  else:
    return 'Lista No ordenada'
ordenar([2,1,3,4,8])

'Lista No ordenada'

**Diccionarios**

{clave:valor}

In [ ]:
usuarios={'nombre':'Alex','apellido':'Medranda','titulo':True}
print(usuarios['nombre'])
print(usuarios['apellido'])
print(usuarios['titulo'])

Alex
Medranda
True

In [ ]:
materias={}
materias['lunes']=['matemática',3]
materias['martes']=[7,8,9]
materias['lunes']

['matemática', 3]

In [ ]:
#help(dict)
usuarios.get('nombre')

'Alex'

In [ ]:
estudiantes=[]

salida= False
while not salida:
  alumno= input('Ingrese Nombre')
  apellido= input('Ingrese apellido')
  estudiantes.append({'nombre':alumno,'apellido': apellido})
  salidax=input('quieres salir inserta(1)')
  if salidax=='1':
    salida=True
estudiantes

Ingrese NombreKenig
Ingrese apellidoPico
quieres salir inserta(1)0
Ingrese NombreAlex
Ingrese apellidoMedranda
quieres salir inserta(1)0
Ingrese NombreDarwin
Ingrese apellidoChavez
quieres salir inserta(1)1

[{'apellido': 'Pico', 'nombre': 'Kenig'},
 {'apellido': 'Medranda', 'nombre': 'Alex'},
 {'apellido': 'Chavez', 'nombre': 'Darwin'}]

In [ ]:
for estudiante in estudiantes:
  print(estudiante.get('nombre'))

Kenig
Alex
Darwin

In [ ]:
saludo='Buenos días'
if 'o' in saludo:
  print('Si esta')
#---------------------------
for i  in saludo:
  print(i)

Si esta
B
u
e
n
o
s

d
í
a
s

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
dictx={'user':'md01', 'password':'12554'}
for i in dictx.values():
  print(i)

md01
12554

**Ejercicio** <br>
Dada una lista de cadenas, pide una cadena por teclado e indica si está en la lista, indica cuantas veces aparece en la lista, para salir coloca cualquier número.

In [ ]:
def cadena(lista):
  while True:
    valor=input('Ingrese cadena para comparar o un número para salir: ')
    if valor.isnumeric():
      break
    elif valor in lista:
      print('Si esta en la lista')
    else:
      print('No existe la cadena')
    print(lista.count(valor))


listaStr=['Di', 'buen', 'dia', 'a', 'papa',"hola","papa","buen","dia"]	
cadena(listaStr)

Ingrese cadena para comparar o un número para salir: medrandacod
No existe la cadena
0
Ingrese cadena para comparar o un número para salir: dia
Si esta en la lista
2
Ingrese cadena para comparar o un número para salir: 5

**Ahorcado**